p {
    color: brown;
}

button {
    width: 5vh;
    height: 3vh;
    background-color: blueviolet;
    margin: 3vw;
    border-radius: 15px;
    

}

input {
    width: 20vw;
    height: 3vh;
    border-radius: 6px;
    padding-bottom: 1vh;
    font-size: 2vh;
    
}

.start-div {

    margin: 10vw;
}

.good-luck-p {

    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 5vw;
}

.pre-game-countdown-p {
    font-size: 20vh;
    font-weight: bolder;
   width: 10vw;
    margin-left: auto;
    margin-right: auto;
}